     
    
     .itstep{font: 100 5vh "Vibur";
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em  #FFFF00, 0 0 0.5em  #FFFF00,
      0 0 0.1em  #FFFF00, 0 10px 3px #000;

  }
  .x{font: 100 5vh "Vibur";
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #FFFF00, 0 0 0.5em #FFFF00,
      0 0 0.1em #FFFF00, 0 10px 3px #000;

  }
  .lenovo {
    font: 100 5vh "Vibur";
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #FFFF00, 0 0 0.5em #FFFF00,
      0 0 0.1em #FFFF00, 0 10px 3px #000;
  }
  
     .frame {
      
    border-radius: 30px;
      margin: 40px auto;
      text-align: center;
      padding-right: 15px;
      padding-left: 15px;
      
  
    }
    .items
    {
      display: flex;
      gap: 20px;
      align-items: center;
      
    
    }
      
    button {
      font-size: 20px;
    }
    
 
    
      .btn:after {
        position: absolute;
        content: " "; 
        z-index: -1;  
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease;
      }
    
      
      .btn:hover {
        color: #000;
      }
      .btn:hover:after {
      background: #30D5C8;
      -webkit-transform: scale(2) rotate(180deg);
      transform: scale(2) rotate(180deg);
      box-shadow:
        4px 4px 6px 0 rgba(255,255,255, 1),
        -4px -4px 6px 0 rgba(116, 125, 136, .2), 
        inset -4px -4px 6px 0 rgba(255,255,255, 1),
        inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
      }
      
    
      .btn{
        color: #30D5C8;
        border: 1px solid #30D5C8;
        box-shadow: 0 0 5px #30D5C8, 0 0 5px#30D5C8 inset;
        z-index: 2;
        transition: all 0.3s ease;
        overflow: hidden;
        border-radius: 10px;
        width: 130px;
        height: 40px;
        padding: auto ;
        background: transparent;
        cursor: pointer; 
        transition: all 0.3s ease;
        position: relative;
      }
    
      
      
    
      
      .dropdown {
        padding: 2px 1.5rem;
        height: 0;
        overflow: hidden;
        transition: height ease 0.2s;
      }
      
      li:focus-within .dropdown {
        height: 135px;
      }
      
      .arrow {
        width: 0.5em;
        height: 0.5em;
        display: inline-block;
        vertical-align: middle;
        border-left: 0.15em solid currentColor;
        border-bottom: 0.15em solid currentColor;
        transform: rotate(-45deg);
        margin-left: 0.38em;
        margin-top: -0.25em;
        transition: transform 100ms ease-in-out;
      }
    
      
    
    
    
    
    
    
    
    
      /* MEDIA QUERIES  */
      @media (min-width: 640px) {
    
        
        
        label, input[type="checkbox"] {
          display: none;
        }
        
        ul li {
          position: relative;
          font-size: 14px;
          transition: all 1s;
          padding-top: 10px;
          padding-top: 5px;

        }
    
        .dropdown {
            position: absolute;
            right: 0;
            z-index: 99;
            width:100%;
            padding: 0;
            background-color: transparent;
            border-radius: 0 0 0.5rem 0.5rem; 
            display: none;
            padding-top: 5px;

          }
          
          ul li:hover .dropdown {
            display: block;
            height: auto;
            width: 100%;
            transition: all 1s;
            position: absolute;
            top: 53px;
          }
          
        
        ul li:hover > button > .arrow {
          transform: rotate(-225deg);
          margin-top: 4px;
        }
      }